/* roboto-slab-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-slab-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-slab-v24-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-slab-v24-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-slab-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-slab-v24-latin-regular.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}

* {
  font-family: "Roboto Slab";
  font-weight: 100;
}

.bg-slider {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
}
.imagen {
  height: 200px;
}

#cb-cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  
  
}
#cb-cookie-banner1{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  
  
}
